<div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center stretch">

        <div class="banners">
            <img class="responsive banner-logo" src="assets/images/logo.png">
        </div>
        
    </div>

    <div fxFlex="80%" fxLayout="column" fxLayoutAlign="center stretch">

        <div class="catalogo-title">
            <h1>Categorías de productos</h1>
        </div>

        <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="space-between stretch">

            <app-card 
                *ngFor="let producto of catalogo"
                [producto]="producto"
                fxFlex="auto" 
                fxLayout="row"
                fxFlex="48"
                fxFlex.gt-md="24" 
                fxFlex.gt-sm="48" 
                fxFlex.gt-xs="48"
            ></app-card>

        </div>

        <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
            <a routerLink="/home" class="back-button" mat-raised-button>Volver</a>
            <a routerLink="/productos" class="next-button" mat-raised-button>Continuar</a>
        </div>

    </div>
</div>
