.banner-logo {
    margin: 10px;
    transform: scale(0.9);
}
.catalogo-title {
    margin: 20px 0;

    h1 {
        font-weight: bold;
    }
}
.banners {
    background-color: #c5d400;
    background-image: url("../../../../assets/images/banner1.png");
}