.banner-logo {
    margin: 10px;
    transform: scale(0.9);
}
.banner-main {
    width: 100%;
}
.catalogo-title {
    margin: 20px 0;

    h1 {
        font-weight: bold;
    }
}
.banners {
    background-color: #ff9d00;
    background-image: url("../../../../assets/images/banner2.png");
}