<div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center start">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center stretch">

        <img class="responsive" src="../../../../assets/images/portada.png">


<!--         <picture >
            <source srcset="../../../../assets/images/portada-mobile.png" media="(max-width: 768px)">
            <source srcset="../../../../assets/images/portada.png">
            <img  srcset="../../../../assets/images/portada.png" alt="">
        </picture> -->

    </div>
</div>
    