.banner-home {
    transform: scaleX(1);
}
@media (max-width: 992px) {
    .banner-home {
        transform: scaleX(1.5);
    }
}
@media (max-width: 600px) {
    .banner-home {
        transform: scaleX(2);
    }
}
.button-inicio {
    font-size: 20px;
    width: 300px;
    color: white;
    background-color: crimson;
    margin-bottom: 10px;
}
.fixed-button {
    position: fixed;
    bottom: 0;
}